<div class="container" style="width: 1000px; height: 780px;" *ngIf="task != undefined">
    <div class="row">
        <div class="col-9">
            <div>
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="task.title" (blur)="updateTask()">
                </div>
                <br>
                <div class="row">
                    <textarea class="form-control" id="textarea" rows="8" [(ngModel)]="task.description"
                        (blur)="updateTask()"></textarea>
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <hr>
            </div>
            <div class="row" *ngIf="task.deliveryDate!= undefined && task.deliveryDate!.active">
                <div class="alert alert-warning" role="alert" *ngIf="isDeliveryOverdue()">
                    <b>A tarefa está em atraso</b>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="task.deliveryDate!.accomplished">
                    <b>Tarefa marcada como entregue</b>
                </div>
                <div class="col" style="padding-left: 0px;">
                    <div class="card text-bg-light mb-3" style="padding: 0px;">
                        <div class="card-header">Data de entrega</div>
                        <div class="card-body">
                            <p class="card-text">{{task.deliveryDate!.date}}</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-right: 0px;">
                    <div class="card text-bg-light mb-3" style="padding: 0px;">
                        <div class="card-header">Horário</div>
                        <div class="card-body">
                            <p class="card-text">{{task.deliveryDate!.time}}</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="completeTask()"
                    [hidden]="task.deliveryDate.accomplished">Marcar data de entrega como atentida</button>
                <hr>
            </div>
            <div class="row">
                <div class="col-9">
                    <b>Checklist</b>
                    <button type="button" class="btn btn-light" (click)="allowCreateNewInternalTask()">
                        <i class="bi bi-plus-square"></i> <b></b>
                    </button>
                </div>
                <div class="col" *ngIf="task.internalTasks != undefined">
                    <b>{{calcPercentage()}}% concl.</b>
                </div>
            </div>
            <div style="overflow-y:scroll;overflow-x:hidden; height:190px;">
                <div class="row" *ngIf="currentAction===Action.INSERTING">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><input class="form-check-input"
                                type="checkbox" disabled text>
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="newInternalTask!.description"
                            (blur)="saveNewInternalTask()">
                    </div>
                </div>
                <div *ngFor="let internalTask of internalTasks">
                    <div class="row">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> <input class="form-check-input"
                                    type="checkbox" [(ngModel)]="internalTask.checked" text
                                    (ngModelChange)="updateInternalTasks(internalTask)">
                            </span>
                            <input type="text" class="form-control" [(ngModel)]="internalTask.description"
                                (blur)="updateInternalTasks(internalTask)">
                            <button type="button" class="btn btn-secondary"
                                (click)="removeInternalTask(internalTask.id!)"><i
                                    class="bi bi-x-square-fill"></i></button>
                            <button type="button" class="btn btn-secondary"
                                (click)="updateInternalTaskPosition(internalTask.id!, internalTask.position!+1)"
                                [disabled]="isLastInternalTaskInArray(internalTask.id!)"
                                style="border-left: 1px; border-style: ridge;"><i
                                    class="bi bi-arrow-down-square"></i></button>
                            <button type="button" class="btn btn-secondary"
                                (click)="updateInternalTaskPosition(internalTask.id!, internalTask.position!-1)"
                                [disabled]="isFirstInternalTaskInArray(internalTask.id!)"
                                style="border-left: 2px; border-style: ridge;"><i
                                    class="bi bi-arrow-up-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group-vertical" aria-label="Vertical button group">
                    <button type="button" class="btn btn-light btn-outline-dark"
                        (click)="openTaskMembersDialog()">Membros</button>
                    <button type="button" class="btn btn-light btn-outline-dark"
                        (click)="openTaskDeliveryDateDialog()">Conf.
                        dt. entrega</button>
                    <button type="button" class="btn btn-light btn-outline-dark"
                        (click)="openaskNotificationConfigurationDialog()">Conf. notificações</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-light btn-outline-dark dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Etiquetas
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="openDialogTagsManagement()"
                                    style="cursor: pointer;">Gerenciar etiquetas</a>
                            </li>
                            <hr>
                            <li *ngIf="task.tag != undefined && task.tag!.id != undefined">
                                <p class="dropdown-item"><b>{{task.tag!.name}}</b><i class="bi bi-check-lg"></i></p>
                            </li>
                            <hr>
                            <div *ngFor="let tag of availableTags">
                                <li *ngIf="task.tag != undefined && (tag.id! != task.tag!.id!)"
                                    style="cursor: pointer;"><a class="dropdown-item"
                                        (click)="updateTaskTag(tag.id!)">{{tag.name}}</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>