<div class="container">
    <div class="row">
        <div class="col-9" style="background-color: aqua;">
            <div>
                <div class="row">
                    <h1>{{ task.title }}</h1>
                </div>
                <div class="row">
                    <textarea class="form-control" rows="5" aria-label="Description"></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-10">
                    <h3><b>Checklist name</b></h3>
                </div>
                <div class="col">
                    <b>0%</b>
                </div>
            </div>
            <!-- <div>
                <input class="form-check-input" type="checkbox" value="" text><label class="form-check-label">
                    Texto 1
                </label>
            </div>-->

        </div>
        <div class="col" style="background-color: beige;">
            CBA
        </div>
    </div>
</div>