<div class="modal-header">
    <h4> Editar Stack </h4>
</div>
<form #formEditStack="ngForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-2">
                <p>Id:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" disabled value="{{stack.id}}">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Position:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" disabled value="{{stack.position}}">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Nome:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="stackName" #stackName="ngModel" [(ngModel)]="stack.name"
                    minlength="2" required>

                <div class="alert alert-danger" *ngIf="stackName.errors && (stackName.dirty || stackName.touched)">
                    O nome informado é inválido. (Deve conter no mínimo 2 caracteres)
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="formEditStack.form.invalid"
            (click)="updateStack()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancelar</button>
    </div>
</form>