<div class="modal-header">
    <h4> Nova Task </h4>
</div>
<form #formNewTask="ngForm">
    <div class="modal-body">

        <div class="row">
            <div class="col-2">
                <p>Id:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Título:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="newTask.title" name="title" #title="ngModel"
                    required>
                <div class="alert alert-danger" *ngIf="title.errors && (title.dirty || title.touched)">
                    O título da task informado é inválido. (Deve conter no mínimo 1 caractere)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Descrição:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="newTask.description" name="description">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="formNewTask.form.invalid" class="btn btn-success"
            (click)="salvarTask()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancelar</button>
    </div>
</form>