<div class="modal-header">
    <h4> Detalhes do Board </h4>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-2">
                <p>Id:</p>
            </div>
            <div class="col">
                <label>{{board.id}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Dono:</p>
            </div>
            <div class="col">
                <label>{{board.owner!.username}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Nome:</p>
            </div>
            <div class="col">
                <label>{{board.name}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Descrição:</p>
            </div>
            <div class="col">
                <label>{{board.description}}</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="gy-3">
                <h2>Membros</h2>
            </div>
            <div class="col">
                <ul class="list-group" *ngFor="let member of board.memberList">
                    <li class="list-group-item">{{member.username}} - {{member.email}}</li>
                </ul>
                <p *ngIf="!board.memberList || board.memberList!.length == 0">
                    Não existem membros vinculados ao quadro
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>