<body class="container-fluid">
    <form #formLogin="ngForm" class="login-form">
        <div class="col text-center">
            <div class="row">
                <label class="form-label" style="font-size: 20px; color: #fff "><b>Digite nova senha</b></label>
                <input [(ngModel)]="user.password" #password="ngModel" type="password" class="form-control"
                    id="password" minlength="6" name="password" required>
            </div>
            <span *ngIf="password.errors && (password.dirty || password.touched)" style="text-align: center;">
                <div class="alert alert-danger">
                    A senha deve conter no mínimo 6 caracteres
                </div>
            </span>
            <br>
            <div class="row">
                <button type="submit" [disabled]="formLogin.form.invalid" (click)="updatePassword()"
                    class="btn btn-secondary">Alterar
                    senha</button>
                <p></p>
            </div>
        </div>
    </form>
</body>