<div class="container" style="width: 500px;" *ngIf="task != undefined">
    <div class="row">
        <h1 style="padding: 0%;">Configuração de notificação</h1>
    </div>
    <form class="example-form">
        <div class="row">
            <p style="padding: 0%;">Tipo de notificação</p>
            
        </div>
        <div class="row">
            <p style="padding: 0%;">Título</p>
            <input type="text" class="form-control" [(ngModel)]="task.notificationConfiguration!.title" name="title">
        </div>
        <br>
        <div class="row">
            <p style="padding: 0%;">Mensagem</p>
            <textarea class="form-control" id="textarea" rows="5" [(ngModel)]="task.notificationConfiguration!.message"
                name="message"></textarea>
        </div>
        <br>
        <div class="row">
            <button mat-flat-button color="warn" (click)="updateNotificationConfiguration()">Salvar</button>
        </div>
        <div class="row">
            <button mat-stroked-button color="warn" (click)="closeDialog()">Cancelar</button>
        </div>
    </form>
</div>