<div class="container-fluid" style="width: 500px">
    <h2>Novo Board</h2>
    <div class="row">
        <hr />
    </div>
    <form #formNewBoard="ngForm">
        <div class="row">
            <div class="col">
                <p>Nome:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="name" [(ngModel)]="newBoard.name" #name="ngModel"
                    minlength="5" required>
                <div class="alert alert-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                    O nome do Board informado é inválido. (Deve conter no mínimo 5 caracteres)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Descrição:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="description" [(ngModel)]="newBoard.description">
            </div>
        </div>
        <br>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success" [disabled]="formNewBoard.form.invalid"
                (click)="saveBoard()">Salvar</button>
            <button type="button" class="btn btn-outline-dark" (click)="closeDialog()">Cancelar</button>
        </div>
    </form>
</div>