<div class="container-fluid" style="width: 350px;">
    <div class="row">
        <h2>Esqueci minha senha</h2>
    </div>

    <div class="row">
        <hr>
    </div>
    <div class="row">
        <p>Email</p>
        <input type="text" class="form-control" name="email" #email required>
    </div>
    <div class="row">
        <p>Caso o e-mail seja válido, serão enviadas instruções para a criação de uma nova senha.</p>
    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-secondary" [disabled]="email != undefined && !email.value.includes('@')"
            (click)="sendRecuperationEmail()">Enviar e-mail de
            recuperação</button>
        <p></p>
    </div>
</div>