<div class="container" style="width: 350px;" *ngIf="task != undefined">
    <div class="row">
        <h1>Configurar data de entrega</h1>
    </div>
    <form #formDeliveryDate="ngForm">
        <div class="col">
            <div [hidden]="!task.deliveryDate!.active">
                <div class="row">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [startAt]="initialDate()" ngDefaultControl [(selected)]="task.deliveryDate!.date"
                            name="date" required>
                        </mat-calendar>
                    </mat-card>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <label style="padding-left: 0px;">Horário de entrega</label>
                    <ng-select name="estado" [items]="availableNotificationTimes" [clearable]="false"
                        [(ngModel)]="task.deliveryDate!.time" placeholder="Selecione o horário de entrega"
                        style="padding: 0%;" required>
                    </ng-select>
                    <div class="alert alert-danger" *ngIf="formDeliveryDate.form.invalid">
                        A data e horário de entrega devem ser preenchidos.
                    </div>
                </div>
                <br>
                <div class="row">
                    <p>30 minutos antes da data de entrega, um e-mail será enviado para todos os membros da tarefa. O
                        corpo e título do e-mail podem ser configurados nas <b>Configurações de notificações</b>.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <mat-checkbox [color]="color" [(ngModel)]="task.deliveryDate!.active" name="active">Data de entrega
                    ativa
                </mat-checkbox>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <button mat-flat-button color="warn"
                    [disabled]="task.deliveryDate!.active && formDeliveryDate.form.invalid"
                    (click)="updateDeliveryDate()">Salvar</button>
                <button mat-stroked-button color="warn" (click)="closeDialog()">Cancelar</button>
            </div>
        </div>
    </form>
</div>